{% extends 'base.html' %}

{% block titulo %}
    Calzados
{% endblock %}

{% block contenido %}

<div class="d-flex" style="margin-top:5rem;">
    {% for c in productos %}

    <div class="card" style="width: 11rem; border-radius: 1.25rem; margin-left:7rem" >
        <img class="card-img-top" src="{{c.imagen.url}}" alt="Card image cap" width="200" height="200"
        style="border-top-left-radius: calc(4.25rem - 1px);border-top-right-radius: calc(4.25rem - 1px);">
        <div class="card-body text-center">
            <h5 class = "text-center"><ins>{{c.nombre}}</ins></h5>
            <p class = "text-center"><b>Color:</b> {{c.color}}</p>
            <p class = "text-center"><b>Precio:</b> ${{c.precio}}</p>
            <p class = "text-center"><b>Talle:</b> {{c.talle}}</p>
            <a href="/Nike/calzado-detalle/{{c.id}}" class= 'btn btn-primary'> Ver mas </a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}