{% extends 'base.html' %}

{% block titulo %}
    Calzados
{% endblock %}

{% block contenido %}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for c in productos %}

    <div class="card" style="width: 18rem;" >
        <img class="card-img-top" src="{{c.imagen.url}}" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class = "text-center"><ins>{{c.nombre}}</ins></h5>
            <p class = "text-center"><b>Color:</b> {{c.color}}</p>
            <p class = "text-center"><b>Precio:</b> ${{c.precio}}</p>
            <p class = "text-center"><b>Talle:</b> {{c.talle}}</p>
            <a href="/Nike/calzado-detalle/{{c.id}}" class= 'btn btn-primary'> Ver mas </a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}