{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<div class = "text-center">
    <br>
    <br>
    <br>
    <h1 style="font-family:Rockwell;color:#000000">Bienvenido a FalsoNike</h1>
    <h5 style="font-family:Rockwell;color:#000000">PRODUCTOS DE CALIDAD</h5>
    <br>
    <br>
    <br>
    <!--<h1 style="width: 400px; height: 400px; border:1px black solid; background: url('media/b.jpg') no-repeat; background-size:cover;"></h1>
    <h3>{{message}}</h3>-->
</div>

{% endblock %}