{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}

<div class="d-flex" style="margin-top:5rem; ">
    {% for product in productos %}
    <div class="card" style="width: 11rem; border-radius: 1.25rem; margin-left:7rem" >
        <img class="card-img-top" src="{{product.imagen.url}}" alt="Card image cap" width="200" height="200"
        style="border-top-left-radius: calc(4.25rem - 1px);border-top-right-radius: calc(4.25rem - 1px);">
        <div class="card-body text-center">
            <h5 class = "text-center"><ins>{{product.nombre}} </ins></h5>
            <p class = "text-center"><b>Color:</b> {{product.color}}</p>
            <p class = "text-center"><b>Precio:</b> ${{product.precio}}</p>
            <p class = "text-center"><b>Talle:</b> {{product.talle}}</p>
            <a href="/Nike/indumentarias-detalle/{{product.id}}" class= 'btn btn-primary'> Ver mas </a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}