{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for product in productos %}

    <div class="card" style="width: 18rem;" >
        <img class="card-img-top" src="{{product.imagen.url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class = "text-center">Descripción: {{product.nombre}} </h5>
            <p class = "text-center">Color: {{product.color}}</p>
            <p class = "text-center">Precio: ${{product.precio}}</p>
            <p class = "text-center">Talle: {{product.talle}}</p>
            <h5 class = "text-center">Producto de calidad</h5>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}