{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}
<h1>Aca va el contenido de buscar productos</h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for product in products %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="D:\Cursos\Proyecto\FalsoNike\products\image\fondo_index.jpg" alt="Nike">
        <div class="card-body">
            <h5 class="card-title">Descripción: {{product.nombre}} {{product.color}}</h5>
            <p class="card-text">{{product.talle}}</p>
            <p class="card-text">{{product.precio}}</p>
            <a href="#" class="btn btn-primary">Comprar!</a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}